.wrapper-solutions {
    width: 100%;
}

body {
    background-color: darkorchid !important;
}

#the-calculator {
    width: 320px;
    margin-top: 25px;
}

.wrapper-solutions p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 5px;
}

.nav-item a {
    text-align: center;
    font-size: 10px;
    color: whitesmoke !important;
    padding: 0;
    margin: 0;
}

#the-other-solutions {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar-nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-right: 100px;
}

.main-heading {
    font-size: 0.7rem;
    text-align: center;
    margin-top: -15px;
    margin-bottom: -15px;
}

.txt-heading {
    width: 100%;
    display: block;
    margin-top: 2.5px;
    letter-spacing: 1.5px;
}

.heading-one {
    color: rgb(39, 39, 39);
    font-size: 1.1rem;
    padding-bottom: 2px;
    background-color: whitesmoke;
    padding-top: 2px;
    width: 80%;
    margin: 10px auto;
    margin-bottom: 15px;
    border-radius: 20px;
}

.heading-two,
.heading-three {
    color: snow;
    font-weight: 800;
}

.heading-three {}

.wrapper-einstein {
    width: 70px;
    margin: 10px auto 30px auto;
}

.wrapper-einstein img {
    border-radius: 50%;
}

#screen {
    border: 0.2px solid snow;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 2;
    background-color: rgb(54, 54, 54);
    height: 40px;
    color: whitesmoke;
    width: 96%;
    padding-left: 15px;
    border-radius: 5px;
}

#digits-row,
#screen-row,
#operators-row {
    justify-content: center;
}

.btn-custom {
    width: 45px;
    height: 45px;
    margin: 3.5px;
    font-family: 'Crimson Text', serif;
    background: linear-gradient(rgb(255, 25, 240), rgb(3, 0, 4));
    font-size: 1.1rem;
    border-radius: 10%;
}

@media only screen and (max-width: 700px) {
    .navbar-nav {
        flex-direction: column;
        justify-content: center;
        padding-right: 0;
    }
}
